<!DOCTYPE html>
<html>
  <head>
    <title>New Sails App</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/base/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/base/datepicker.css">
    <!--STYLES END-->

    <!--SCRIPTS-->
    <script src="/js/dependencies/jquery-2.2.0.min.js"></script>
    <script src="/js/dependencies/bootstrap.min.js"></script>
    <script src="/js/dependencies/Chart.min.js"></script>
    <script src="/js/dependencies/bootstrap-datepicker.min.js"></script>
    <!--SCRIPTS END-->
  </head>

  <body>
    <%- body %>
  </body>
</html>
